.top{
	width:100%;
	height:80px;
	line-height:80px;
	background:rgb(240,201,82) url(../img/product/back.png) no-repeat 20px 15px;
}
.back{
	margin-left:50px;
	width:25%;
	font-size:20px;
}
.order-top{
	width:100%;
	height:80px;
	line-height:80px;
	font-size:18px;
	border-bottom:2px solid rgb(205,202,202);
}
.order-top-left{
	width:75%;
	margin-left:5%;
	float:left;
}
.order-top-right{
	width:20%;
	float:left;
	
}
.order-time{
	width:100%;
	height:80px;
	line-height:80px;
	font-size:15px;
	border-bottom:1px solid rgb(54,53,53);
}
.order-time-left{
	width:45%;
	margin-left:5%;
	float:left;
}
.order-time-right{
	width:50%;
	text-align:center;
	float:left;
	
}
.order-category{
	padding:10px 20px;
	font-size:16px;
	border-bottom:1px dashed rgb(149,149,149);
}

.order-product{
	padding:10px 20px;
	font-size:16px;
	border-bottom:1px dashed rgb(149,149,149);
}
.order-product-left{
	float:left;
	width:35%;
	height:140px;
	overflow:hidden;
}
.order-product-right{
	float:left;
	width:65%;
	height:140px;
}

.right-up{
	width:100%;
	height:50%;
}

.right-up-left{
	float:left;
	width:40%;
	height:100%;
	text-align:center;
	font-size:18px;
}

.right-up-right{
	float:left;
	width:60%;
	height:100%;
	text-align:right;
	font-size:16px;
}


.right-down{
	width:100%;
	height:50%;
}

.right-down-left{
	float:left;
	width:60%;
	height:100%;
	text-align:center;
	font-size:16px;
}

.right-down-right{
	float:left;
	width:40%;
	height:50%;
	text-align:right;
	font-size:16px;
	padding-top:15px;
}

.right-down-left input{
	width: 30px;
	height: 15px;
	padding: 10px;
	border: 0px !important;
	border-top: #e5e5e5 1px solid !important;
	border-bottom: #e5e5e5 1px solid !important;
	line-height: 15px;
	font-size: 1.1em !important;
	text-align: center;
	vertical-align: middle;
}

.right-down-left span{
	text-align:center;
	width:15px;
	height:15px;
	font-size:18px;
	padding: 10px 10px 10px;
	display:inline-block;
	vertical-align: middle;
	background-color: #eeeeee;
	border: #e5e5e5 1px solid;
}

a:link{
	color:rgb(0,0,0);
}
a:hover{
	color:rgb(0,0,0);
}

a:visited{
	color:rgb(0,0,0);
}





