body{
	color:#555da8;
}
.top{
	padding:5px;
	height:40px;
	line-height:40px;
	text-align:center;
	font-size:24px;
	border-top:1px solid #555da8;
	border-bottom:2px solid #555da8;
}
.product{
	padding:10px;
	min-height:80px;
	border-bottom:1px dashed #555da8;
}
.product-title{
	padding:10px;
	height:35px;
        color: #C97626;
	border-bottom:1px dashed #555da8;
}
div .product:last-child{
	border-bottom:1px solid #555da8;
}
.product-up{
	width:100%;
	min-height:20px;
	height:auto;
}
.product-up-left{
	width:90%;
	height:100%;
	float:left;
	font-size:20px;
}
.product-up-right{
	width:10%;
	height:100%;
	float:left;
}
.product-middle{
	width:100%;
	min-height:20px;
    margin:10px 10px 10px 10px;
}
.product-down{
	width:100%;
	min-height:20px;
    text-align: right;
    margin:0px 20px 10px -20px;
}

.order-category{
	padding:10px;
	font-size: 20px;
	color:#C97626;
	border-bottom:1px solid #555da8;	
}
.order-info{
	padding:10px;
	height:50px;
	text-align:right;
	border-bottom:1px dashed #555da8;	
}
.order-time{
	width:100%;
	height:50%;
}
.order-price{
	width:100%;
	height:50%;
}
.order-discount{
	width:100%;
	height:25%;
}
.order-num{
	width:100%;
	height:25%;
}
.order-taste{
	padding:10px;
	min-height:50px;
}
.btn{
	width:260px;
	height:40px;
	border-radius:10px;
	margin:0 auto;
	text-align:center;
	font-size:24px;
	border:1px solid #f0c952;
	line-height:40px;
}
.confirm{
	background:#f0c952;
	color:white;
}
.back{
	margin-top:20px;
	color:#f0c952;
	margin-bottom:50px;
}
.area-top{text-align:center;}
.submit-order-num{
	width:50px;
	height:30px;
	border-radius:5px;
	line-height:30px;
	padding:0 10px;
	text-align:center;
	background:rgb(240,201,82);
	float:right;
	display:none;
}
.cancel-order-num{
	width:48px;
	height:28px;
	border-radius:5px;
	line-height:28px;
	padding:0 10px;
	text-align:center;
	border:1px solid rgb(48,48,48);
	margin-left:10px;
	float:right;
	display:none;
}

.order-num{
	display:none;
	text-align:center;
}
.right-middle{
    padding: 0 5px;
    height:40%;
}

.right-middle input{
	width: 30px;
	height: 15px;
	padding: 10px;
	border: 0px !important;
	border-top: #e5e5e5 1px solid !important;
	border-bottom: #e5e5e5 1px solid !important;
	line-height: 15px;
	font-size: 1.1em !important;
	text-align: center;
	vertical-align: middle;
}

.right-middle span{
	text-align:center;
	width:15px;
	height:15px;
	font-size:18px;
	padding: 10px 10px 10px;
	display:inline-block;
	vertical-align: middle;
	background-color: #eeeeee;
	border: #e5e5e5 1px solid;
}
