<IfModule mod_rewrite.c>
  Options +FollowSymlinks
  RewriteEngine On

  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{SERVER_PORT} !^443$
  RewriteRule (.*) https://%{SERVER_NAME}/$1 [R]
  RewriteRule ^(.*)$ index.php/$1 [QSA,PT,L]
</IfModule>