body{ background-color:#E5E5E5;}
.section{width: 100%;margin:0 auto; padding: 10px 0; border-bottom: 1px dashed #FF5151;font-size: 15px;}
.section:last-child{border-bottom: none;}
.section.disable{color:gainsboro;border-bottom: 1px dashed gainsboro;}
.section.disable span.price{color:gainsboro;}
.section.disable span.cart-delete{color:red;float:right;}
.section.disable .taste-desc{color:#666666;padding:0px;}
.prt-cat{width: 100%;margin:5px 0;}
.prt{margin:2px 0;}
.prt-lt{float: left;width: 33%;}
.prt-mt{float: left;width: 33%;text-align:center;}
.prt-rt{float: left;width: 33%;}
.prt-rt input.minus,.prt-rt input.result{ float:left; width:0.28rem; height:0.28rem; font-size:0.18rem; border:1px solid #e5e5e5; text-align:center; color:#A1A09C; background-color:#fff;}
.prt-rt input.add{ float:left; width:0.28rem; height:0.28rem; font-size:0.18rem; border:1px solid #e5e5e5; text-align:center; color:#A1A09C; background-color:#fff;}
.prt-rt input.minus,.prt-rt input.add{border-radius: 100%;color:#FF5151;}
.prt-rt input.result{ border:none;background-color:#E5E5E5;}
.bottom{width:100%;height:100px;}
input {outline:none;}
footer{width: 100%;}
footer .ft-llt{ float:left; width:25%; height:100%; background-color:#39B867;}
footer .ft-llt p{ font-size:0.2rem; color:#fff; text-align:center;}
footer .ft-lmt{ float:left; width:50%; height:100%;}
footer .ft-lmt p{font-size:0.18rem;text-align: center;}
footer .ft-rrt{ float:right; width:25%; height:100%; background-color:#39B867;}
footer .ft-rrt p{ font-size:0.2rem; color:#fff; text-align:center;}
.jq{ width:3rem; height:0.8rem;}

.total{ color:#FF5151;}
.nm{ color:#868B92;}
.support{ width:3rem; height:0.4rem; margin-bottom:0.45rem; background-color:#fff;}
.support p{ line-height:0.4rem; text-align:center; font-size:0.15rem; color:#CCCCCC;}

.margin-top20{margin-top: 20px;}
.order-address{padding:15px 25px;height: 60px;font-size: 18px;color: white;background: rgb(141,97,77) url(../images/icon_arrow.png) no-repeat right;}
.order-address .info{width: 100%;height: 30px;line-height: 30px;}
.info .name{padding-left: 20px;}
.info .mobile{padding-left: 20px;}
.order-address .address{width: 100%;height: 30px;line-height: 30px;}
.order-time{padding: 25px;font-size: 18px;background: white url(../images/icon_arrow.png) no-repeat right;}
.order-time .time-lt{float: left;width: 50%;text-align: left;}
.order-time .time-rt{float: left;width: 50%;text-align: right;color: rgb(199,93,48);}
.order-time .time-rt select{border: 0;outline: 0;background-color: transparent;-webkit-appearance: none;font-size: inherit;}
.pay-type{padding: 25px;font-size: 18px;background: white;}
.pay-type img {height: 50px;}
.pay-type .pay-ico{float: left;}
.pay-type .pay-info{float: left;}
.pay-type .check_ico{float: right;width:32px;height:32px;margin-top:9px;background:url(../images/ico_004.png) no-repeat right;}

.order-preferential{padding: 25px;font-size: 18px;background: white;}
.order-preferential .preferential-lt{float: left;width: 50%;text-align: left;}
.order-preferential .preferential-rt{float: left;width: 50%;text-align: right;color: rgb(199,93,48);}
.order-info{padding: 10px 25px;background: white;}
.order-desc{width: 100%;font-size: 18px;}
.order-desc .info-lt{float: left;width: 50%;text-align: left;}
.order-desc .info-rt{float: left;width: 50%;text-align: right;color: rgb(199,93,48);}

.site_no{padding:10px;font-size:18px;font-weight:600;}

input.serial{color: #FF5151;width:100px;height:30px;margin-left:5px;font-size:16px;border-top:none;border-left:none;border-right:none;border-bottom:none;background-color:#E5E5E5;}

input.num-minus{color: #FF5151;width:30px;font-size:0.20rem;border:none;background-color:#E5E5E5;text-align:center;}
input.num-add{color: #FF5151;width:30px;font-size:0.20rem;border:none;background-color:#E5E5E5;text-align:center;}
input.number{color: #A1A09C;width:30px;font-size:0.20rem;border:none;background-color:#E5E5E5;text-align:center;}

.cart-info {padding:10px;font-size: 16px;background: rgb(255,255,255);}
.taste{background: white;width:100px;height:20px;line-height:20px;text-align:center;border-radius:10px;color:#FF5151;font-size:1.0em;border:1px solid #A09C9C;}
.taste-desc{line-height:20px;padding:5px 0;font-size:12px;}
.taste-desc span{margin-left:5px;}
.taste-items{display:none;font-size: 15px;}
.taste-items .item-group{margin:10px;}
.item-group .item{padding:5px 10px;float:left;margin-left:10px;border:1px solid #E5E5E5;border-radius:10px;margin:2px 0 2px 10px;}
.item-group .group{border:none;}
.item-group .item.on{border:1px solid #FF5151;}
.activity-info {padding:10px;font-size: 16px;background: rgb(255,255,255);}
.detail{background: white;width:100px;height:20px;line-height:20px;text-align:center;border-radius:10px;color:#FF5151;font-size:1.0em;border:1px solid #A09C9C;}
.detail-desc{line-height:20px;padding:5px 0;font-size:12px;}
.detail-desc span{margin-left:5px;}
.detail-items{display:none;font-size: 15px;}
.detail-items .item-group{margin:10px;}


.points {
    height: 28px;
    font-size: 16px;
    background:rgb(255,255,255);
    margin-top: 10px;
}
.points .left {
	float:left;
    width: 70%;
}
.chooselist img{
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}
input[type="checkbox"].bigswitch.ios-switch + div {
    width: 50px;
    height: 25px;
}
input[type="checkbox"].green.ios-switch:checked + div {
    background-color: #00e359;
    border: 1px solid rgba(0, 162, 63,0.3);
    box-shadow: inset 0 0 0 10px rgba(0,227,89,0.2);
}
input[type="checkbox"].ios-switch + div {
    vertical-align: middle;
    width: 40px;
    height: 20px;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 999px;
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: .4s;
    -webkit-transition-property: background-color, box-shadow;
    box-shadow: inset 0 0 0 0px rgba(0,0,0,0.4);
}
input[type="checkbox"].ios-switch + div > div {
    float: left;
    width: 18px;
    height: 18px;
    border-radius: inherit;
    background: #ffffff;
    -webkit-transition-timing-function: cubic-bezier(.54,1.85,.5,1);
    -webkit-transition-duration: 0.4s;
    -webkit-transition-property: transform, background-color, box-shadow;
    -moz-transition-timing-function: cubic-bezier(.54,1.85,.5,1);
    -moz-transition-duration: 0.4s;
    -moz-transition-property: transform, background-color;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(0, 0, 0, 0.4);
    pointer-events: none;
    margin-top: 1px;
    margin-left: 1px;
}
input[type="checkbox"].ios-switch:checked + div > div {
    -webkit-transform: translate3d(25px, 0, 0);
    -moz-transform: translate3d(25px, 0, 0);
    background-color: #ffffff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(8, 80, 172,1);
}
input[type="checkbox"].green.ios-switch:checked + div > div {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 162, 63,1);
}
input[type="checkbox"].bigswitch.ios-switch + div > div {
    width: 23px;
    height: 23px;
    margin-top: 1px;
}


