body {
	background-color: #FFFFFF;
}
.header{
	position:fixed;
	top:0;
	left:0;
	right:0;
	padding-left:34px;
	height:40px;
	line-height:40px;
	font-size:20px;
	background-color: #f7f7f7;
	background:url(../../img/mall/notice.png) 4px 8px no-repeat;
	background-size: 24px 24px;
}

.content{
	position:relative;
	padding-top:40px;
}
.swiper-container {
	width: 4rem;
	height: 0.85rem;
}

.swiper-wrapper img {
	width: 4rem;
	height: 0.85rem;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff; /* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.top p span.tp-lf {
	float: left;
	margin-left: 0.15rem;
}

.top p span.tp-rt {
	float: right;
	margin-right: 0.15rem;
}

.nav-lf {
	float:left;
	width: 1rem;
	height: 100%;
	overflow-y: scroll;
	/*overflow: hidden;*/
	font-size: 0.15rem;
	text-align: center;
	background-color: #efefef;
}
::-webkit-scrollbar{width:0px}
/*#nav{
	overflow-y: scroll;
	width: 1.02rem;
}*/
.nav-lf ul li {
	position: relative;
	width: 1rem;
	height: 0.74rem;
	background-color: #efefef;
	text-overflow:ellipsis;
	user-select: none; 
	color:#7C756D;
    padding: 0.1rem 0;
/*	z-index: 1!important;
    white-space: nowrap;*/
}
.nav-lf ul{
	background-color: #ffffff;
}
.nav-lf ul li a{
	display:block;
}
.nav-lf ul li a:hover{
	-webkit-tap-highlight-color: transparent;
}

.nav-lf ul li b {
	position: absolute;
	top: 0.05rem;
	right: 0.05rem;
	display: none;
	width: 0.2rem;
	height: 0.2rem;
	line-height: 0.2rem;
	font-size: 0.15rem;
	color: #fff;
	background-color: #FF5151;
	border-radius: 0.1rem;
}

.container {
	float:right;
	width: 3rem;
	height: 100%;
	overflow-y: scroll;
	position:relative;
}
.container-top{
	position: fixed;
	right: 0;
	width: 3rem;
	height: 40px;
    line-height: 40px;
    background: #f7f7f7;
    z-index: 10;
    display:none;
}
.container-top div {
	font-size: 18px;
	padding-left: 20px;
}
.current {
	background-color: #fff!important;
}
.current a .nav-span{
	color:#A23B4C;
}

.sticky {
	position: fixed;
	top: 0;
	animation: thedrop 1s 1;
	-moz-animation: thedrop 1s 1;
	-webkit-animation: thedrop 1s 1;
	background-color: #E5E5E5;
	font-size: 0.15rem;
}

.sticky .nav-above {
	position: absolute;
	top: 0;
	left: 1em;
	right: 1em;
	height: 15px;
}

.section {
	background-color: #fff;
	position: relative;
}

.section .top {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}

.section .prt-title {
	height: 40px;
	line-height: 40px;
	padding-left: 20px;
	font-size: 18px;
	background: #f7f7f7;
}

.section .prt-lt {
	position: relative;
	width: 97%;
	/*min-height: 0.8rem;*/
	min-height: 1.5rem;
	margin-left: 3%;
	border-bottom: 1px solid #e5e5e5;
}

.section .prt-lt:last-child {
	border-bottom: 0px;
}

.prt-lt .lt-lt {
	float: left;
	width: 1rem;
	height: 1rem;
	margin: 0.25rem 0.1rem;
}

.prt-lt .lt-lt img {
	width: 1rem;
	height: 1rem;
}

.prt-lt .lt-lt i.commend {
	position: absolute;
	top: 0;
	left: 0.05rem;
	display: block;
	width: 0.18rem;
	height: 0.24rem;
	background: url(../images/index/commend.png) no-repeat;
	background-size: 0.18rem 0.24rem;
}

.prt-lt .lt-ct {
	position: relative;
	float: left;
	width: 1.7rem;
	height: 1.25rem;
	margin-top: 0.1rem;
}

.prt-lt .lt-ct p {
	font-size: 0.18rem;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	text-align: right;
}

.prt-lt .lt-ct p.pr {
	padding-top: 0.1rem;
	color: #FF5151;
	text-align: right;
}

span.oprice {
	folat:left!important;
	font-size: 0.12rem;
	color: #BFBEBE;
}

.prt-lt .lt-rt {
	position: absolute;
	bottom: 0.1em;
	right: 0.1rem;
	/*width: 0.9rem;*/
	width: 1.2rem;
	height: auto;
	z-index: 9;
}

.prt-lt .lt-rt .sale-out {
	font-size: 0.15rem;
	text-align: right;
	line-height: 0.3rem;
	color: #BFBEBE
}

.prt-lt .lt-rt div.minus {
	float: left;
	width: 34px;
	height: 34px;
	padding: 0;
	margin: 0;
	border: 1px solid #e5e5e5;
	text-align: center;
	background-color: #fff;
}

.prt-lt .lt-rt input.result {
	float: left;
	width: calc(1.2rem - 72px);
	width: -moz-calc(1.2rem - 72px);
	width: -webkit-calc(1.2rem - 72px);
	height: 34px;
	font-size: 25px;
	border: 1px solid #e5e5e5;
	text-align: center;
	background-color: #fff;
}

.prt-lt .lt-rt div.add {
	float: right;
	width: 34px;
	height: 34px;
	padding: 0;
	margin: 0;
	border: 1px solid #e5e5e5;
	text-align: center;
	background-color: #fff;
}

.prt-lt .lt-rt div.minus, .prt-lt .lt-rt div.add {
	border-radius: 24px;
	color: #FF5151;
}
.add img, .minus img{
	width:20px;
	height:20px;
	vertical-align: middle;
    display: block;
    margin: 7px auto;
}
.prt-lt .lt-rt input.result {
	border: none;
}

.prt-lt .tips {
	border-top: 1px dashed #e5e5e5;
	font-size: 0.12rem;
}

input {
	outline: none;
}

.total {
	color: #FF5151;
}

.nm {
	color: #868B92;
}

.support {
	width: 3rem;
	height: 0.4rem;
	margin-bottom: 0.45rem;
	background-color: #fff;
}

.support p {
	line-height: 0.4rem;
	text-align: center;
	font-size: 0.15rem;
	color: #CCCCCC;
}


.cart-dtl {
    position: fixed;
    left: 0;
    bottom: 51px;
    z-index: 9000;
    width: 100%;
    background: white;
    padding-top: 31px;
}
.cart-dtl-head {
    position: absolute;
    right:0px;
    top:0px;
    width:100%;
    height: 30px;
    border-left: 4px solid #fe7058;
    border-top: 1px solid #ebebeb;
    background-color: #fff;
}
.cart-dusbin {
    float: right;
    height: 30px;
    line-height: 30px;
    padding-left: 18px;
    margin-right: 15px;
    background: url(../../img/mall/icon_delete1.png) no-repeat 0 7px;
    -webkit-background-size: 13px 13px;
    -moz-background-size: 13px 13px;
    background-size: 13px 13px;
    font-size: 11px;
    color: #444;
}
.cart-dtl-list{
	max-height: 360px;
    overflow-y: scroll;
}
.cart-dtl-item {
    max-height: 65px;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    padding: 0 0px 10px 0;
}
.cart-dtl-item.disable p,.cart-dtl-item.disable span{
	color: gainsboro;
}
.cart-dtl-item.disable .cart-delete{
	width: 100px;
    height: 35px;
    float: right;
    font-size: 15px;
    color: red;
    text-align: center;	
}
.cart-dtl-item-inner {
    overflow: hidden;
    height: 35px;
}
.cart-dtl-dot {
    float: left;
    width: 4px;
    height: 4px;
    margin: 19px 5px 0 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #fe7058;
}
.cart-goods-name {
    float: left;
    max-width: 170px;
    margin-top: 10px;
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    font-size: 15px;
    color: #444;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.cart-dtl-oprt {
    float: right;
    margin: 8px -5px 0 0;
}
.add-food {
    text-align: left;
    width: 35px;
}
.add-food, .remove-food {
    height: 35px;
    float: right;
}
.foodop-num {
    font-size: 15px;
    height: 27px;
    line-height: 27px;
    min-width: 21px;
    text-align: center;
    float: right;
}
.remove-food {
    width: 35px;
    text-align: right;
}
.i-add-food {
    width: 24px;
    height: 24px;
    line-height: 100%;
    border-radius:12px;
    border:1px solid #e5e5e5;
}
.i-remove-food {
    width: 24px;
    height: 24px;
    line-height: 100%;
    border-radius:12px;
    border:1px solid #e5e5e5;
}
.icon {
	color:#FF5151;
	font-size:22px;
	text-align:center;
    display: block;
}
i {
    font-style: normal;
}
.cart-dtl-price {
    float: right;
    font-size: 16px;
    max-width: 60px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 12px;
    line-height: 42px;
    color: #fe7058;
}

.mask {
    position: fixed;
    z-index: 10000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
}
.mask {
    background: rgba(0,0,0,0.8);
}
.cart-mask {
    z-index: 8000;
}

/**
 * @DateTime  2017-07-28T11:25:20+0800
 */
.price{
	font-size:1.6em;
	margin-right:0.5em;
}
.prt-lt .lt-ct p .name{
	margin-right:1em;
}
.nav-img{
	width:0.35rem;
	height:0.35rem;
	display: block;
    margin: 0 auto;
}
.nav-span{
	display:block;
	width:1rem;
	height:0.25rem;
	line-height: 0.25rem;
	margin-top:0.1rem;
	overflow: hidden;
}
.b-radius-rt{
	border-top-right-radius:15px!important;
}
.b-radius-rb{
	border-bottom-right-radius:15px!important;
}