body{ background-color:#E5E5E5;}

.total{ color:#FF5151;}
.order-title{padding:10px;height:30px;line-height:30px;margin-bottom:1px;font-size:20px;text-align:center;background:rgb(255,255,255);}
.order-site{padding:10px;min-height:30px;line-height:30px;margin-bottom:1px;font-size:18px;background:rgb(255,255,255);}
.order-site .lt{float:left;width:50%;}
.order-site .rt{float:left;width:50%;text-align:center;color:#ff9933;}
.order-site span{font-size: 15px;display: block;color: gray;}
.order-info{padding:20px 10px;font-size:16px;background:rgb(255,255,255);}
.order-info .item{width:100%;height:30px;line-height:30px;}
.order-info .item .lt{width:70%;height:100%;float:left;}
.order-info .item .rt{width:30%;height:100%;float:right;font-size:15px;}
.order-info .ht1{width:100%;height:1px;background-color:#E5E5E5;}
.order-info .taste{padding:5px;font-size:15px;color:gray;}

.order-num{padding:10px;font-size:16px;margin-top:10px;background:rgb(255,255,255);}
.order-num .num-lt{float:left;width:35%;}
.order-num .num-rt{float:left;width:65%;text-align:right;}

.order-time{padding:10px;font-size:16px;margin-top:10px;background:rgb(255,255,255);}
.order-time .time-lt{float:left;width:35%;}
.order-time .time-rt{float:left;width:55%;}
.order-time input{width:80%;height:100%;border:none;text-align:right;font-size: 16px; color:#FF5151;}
.order-time input::-webkit-input-placeholder {
   color:#FF5151 !important;
}
.order-time input:-moz-placeholder {
   color:#FF5151 !important;
}
.order-time input::-moz-placeholder {
   color:#FF5151 !important;
}
.order-time input:-ms-input-placeholder {
   color:#FF5151 !important;
}

.weui_cells_tips {margin-top: .3em;color: #888;padding-left: 15px;padding-right: 15px;font-size: 14px;}

.order-copun{padding:10px;font-size:16px;margin-top:10px;background:rgb(255,255,255);}
.order-copun .copun-lt{float:left;width:65%;}
.order-copun .copun-rt{float:left;width:35%;color:#FF5151;}
.order-remark{padding:10px;font-size:16px;margin-top:10px;background:rgb(255,255,255);}
.order-remark textarea{border:none;width:100%;height:30px;color:#999999}
.order-paytype{font-size:16px;}
.user-cupon {width:100%;height:100%;font-size: 14px;display: none;}
.user-cupon .cupon-container{padding:20px;overflow:auto;}
.order-paytype .select-type{padding:10px 10px 0;margin-top:5px;color:#FF5151}
.order-paytype .paytype{padding:10px;background:rgb(255,255,255);}
.order-paytype .item,.user-cupon .item{padding:10px;border-bottom:1px solid #E5E5E5;background:url(../../img/mall/round_unchk.png) right center no-repeat; background-size: 23px 23px;}
.order-paytype .item img{width:20px;height:20px;vertical-align:middle;}
.order-paytype .on,.user-cupon .on{background:url(../../img/mall/round_chk.png) right center no-repeat; background-size: 23px 23px;}
.paytype .item:last-child,.user-cupon .item:last-child{border:none;}
.bottom{width:100%;height:100px;background-color:#E5E5E5;}


.address { padding: 10px;min-height: 55px;line-height: 1.2em;font-size:18px; background-color:rgb(255,255,255);margin: 10px 0;}
.location {padding-left: 25px; height: 100%;min-height:50px;padding-right: 20px;font-size: 0.8em !important;background-image: url(../../img/mall/icon_location.png);background-size: 25px auto;background-repeat: no-repeat;background-position:0 15px;}
.address .add {font-size: 0.8em !important;}
.arrowright { background-image: url(../../img/mall/arrowright.png);background-size: auto 25px;background-repeat: no-repeat;background-position: right center;}

.discount{
	font-size:16px;
    padding: 15px;
}
.discount li {
    margin-bottom: 7px;
    font-size: 0.8em !important;
}
.discount img {
    width: 20px;
    height: auto;
    margin-right: 10px;
    vertical-align: middle;
}