body{ background-color:#f0eff4;}

.section{padding:20px;font-size:20px;background:#fff;}
.section .title{color:#888;font-size:20px;margin:10px 0;}
.section .item{float:left;margin:5px;border-radius:5px;min-height:80px;width:calc((100% - 36px)/3);width:-moz-calc((100% - 36px)/3); width:-webkit-calc((100% - 36px)/3);border:1px solid #09BB07;color:#09BB07;}
.section .item .top{width:100%;height:50%;text-align:center;font-size:25px;line-height:40px;}
.section .item .down{width:100%;height:50%;text-align:center;line-height:40px;font-size: 14px; overflow:hidden;}