html,body{
	width:100%;
	height:100%;
}
#playercontainer{
	margin:0 auto;
}
.section{
	position: relative;
}
.section h2 {
	padding:20px;
	font-size:25px;
	text-align:center;
}
.vedio{
	padding-top:50px;
	width:100%;
}
ul.vedio li{
	width:44%;
	margin-left:4%;
	margin-top:10px;
	float:left;
	text-align:center;	
}
ul.vedio li span{
	font-size:20px;
}
ul.vedio li img{
	width:100%;
}
#playercontainer .top0 {
	position: relative;
	top:20px;
	left: 0px;
	width:100%;
	height:50px;
	z-index: 1000;
}
#playercontainer .top1 {
	position: relative;
	bottom:-260px;
	left: 0px;
	width:100%;
	height:50px;
	z-index: 1000;
}
#playercontainer .top0 .message,#playercontainer .top1 .message{
	position: absolute;
	top: 0;
	left:3600px;
	line-height:50px;
	width:100%;
	font-size: 40px;
	text-align:center;
	color: red;
	z-index: 1000;
}
.fixed{
	position: fixed;
}
.discuss{
	width: 100%;
	bottom: 0px;
	left: 0px;
	height: 50px;
	text-align: center; 
	padding: 10px 0;
}
.discuss .s_text{
	height: 36px;
	width: -moz-calc(80% - 4px);
	width: -webkit-calc(80% - 4px);
	width: calc(80% - 4px);
	font-size: 20px;
}
.discuss .s_btn{
	height: 42px;
	width: 20%;
	background: #22B14C;
	color:white;
	border:none;
	font-size: 20px;
}
.section .logo{
	position:absolute;
	right:20px;
	bottom:40px;
	z-index: 1000;
	display:none;
}
.logo img{
	width:100px;
	height:100px;
}
.main_discuss{
	position:relative;
	width:80%;
	height:100%;
	margin:auto auto;
	overflow:hidden;
	background:rgba(255,255,255,0.5)
}
.main_discuss .message{
	position: absolute;
	top: 0;
	left:3600px;
	line-height:50px;
	width:1500px;
	font-size: 6.0em;
	text-align:center;
	color: red;
	z-index: 1000;
}