#page_0{
	margin-top:35px;
}
.fixed-top{
	position:fixed;
	width:100%;
	top:0;
	z-index:1000;
	background-color:rgba(255,255,255,0.5);
}
.category-top{
	width:40%;
	height:20px;
	line-height:20px;
	text-align:center;
	margin:1px auto 0;
	padding:5px 0;
	border:1px solid rgb(179,137,27);
	background:rgb(240,201,82);
	border-radius:20px;
	color:rgb(255,255,255);
}
.promptu-menu{
	display: block;
	position: absolute;
	list-style: none;
	overflow: visible;
	height: 140px;
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
}
.promptumenu_window.float {
	width: 100%;
	 position: fixed;
	  z-index: 99; 
	  top: 0; 
	  left: 0;
	}	
.promptumenu_nav{
	z-index: 5;
	position: absolute;
	bottom:5px;
	left: 50%;
	margin-right: -50%;
}
.promptumenu_window{
	width: 100%;
	height: 140px;
	padding: 0px;
	display: block;
	overflow: scroll;
	border-bottom:1px solid rgb(128,123,120);
	position: relative;
}
.promptumenu_nav a{
	cursor: pointer;
	width: 20px;
	height: 20px;
	text-indent: -9999px;
	outline: none;
	background: url(pagelink.png) 0 -20px no-repeat;
	display: block;
	float: left;
	position: relative;
	left: -50%;
	margin: 0 2px;
}
.promptumenu_nav a.active{
	background: url(pagelink.png) 0 0 no-repeat;
}
.promptu-menu >li {
	display: block;
	float:left;
	margin: 0px;
	min-width:100px;
	width:auto;
	padding-left:5px;
	padding-right:5px;
}
.promptu-menu >li:first-child {
	min-width:100px;
        left:5px;
}
ol .parents{
	color:rgb(217,217,217);
	font-size:15px;
	padding-top:3px;
	padding-bottom:3px;
}

li ol{
	border-right:2px dashed rgb(191,191,191);
	height:140px;
	margin-left:5px;
}
ol .child.float{float:left;font-size:20px;text-align:left;padding:0 5px 0 0;margin-bottom:5px;color:#000000;}
ol .child{width:100%;font-size:20px;text-align:left;padding:0 5px 0 0;margin-bottom:5px;color:#000000;}

li .active{background:rgb(240,201,82);}