.promptumenu_nav{
	z-index: 5;
	position: absolute;
	bottom:5px;
	left: 50%;
	margin-right: -50%;
}
.promptumenu_window{
	cursor: url(hand.ico), move;
	border-bottom:1px solid rgb(128,123,120);
	position: relative;
}
.promptumenu_nav a{
	cursor: pointer;
	width: 20px;
	height: 20px;
	text-indent: -9999px;
	outline: none;
	background: url(pagelink.png) 0 -20px no-repeat;
	display: block;
	float: left;
	position: relative;
	left: -50%;
	margin: 0 2px;
}
.promptumenu_nav a.active{
	background: url(pagelink.png) 0 0 no-repeat;
}
.promptu-menu >li {
	min-width:200px;
	max-width:500px;
	padding-left:10px;
	padding-right:10px;
}
.promptu-menu >li:first-child {
	min-width:180px;
}
ul .parents{
	color:rgb(217,217,217);
	font-size:30px;
	padding-top:10px;
	padding-bottom:10px;
}

li ul{
	border-right:2px dashed rgb(191,191,191);
	height:200px;
	margin-left:10px;
}
ul .child.float{width:30%;with:auto;float:left;font-size:20px;text-align:left;padding:0 10px 0 0;margin-bottom:10px;}
ul .child{width:100%;font-size:20px;text-align:left;padding:0 10px 0 0;margin-bottom:10px;}
li .active{background:rgb(240,201,82);}