
.page-content .page-breadcrumb.breadcrumb {
   margin-top: 0px;
   margin-bottom: 20px;
}
.portlet.box.purple {
    border: 1px solid #CFCFCF;

}
.portlet-body{
   min-height: 350px;
}

.panel_body{
    padding-left: 20px;
    margin-bottom: 10px;
}
.panel_body p{
     font-size: 23px;
    
     font-weight: bold;
     margin-bottom: 22px;
}

.list{
    margin-bottom: 20px;
    
}
.list a,
.list a:hover,
.list a:visited
{
    text-decoration: none;
    text-align: left;
    width:auto;
    display:block;
    padding:10px;
    

    border-style:solid;
    border-width: .1rem;
    border-radius:.4rem!important;
    background-color: #f8fcff;
    
    border-color: #D3D3D3;
   /* border-color: #adb1b8 #a2a6ac #8d9096;*/
   
       /* background-image: linear-gradient(to bottom,#f7dfa5,#f0c14b);*/
   /* background-image: linear-gradient(to bottom,#f7f8fa,#e7e9ec);*/
}
.list a:active{
   /* background-image: linear-gradient(to bottom,#e7e9ec,#c7c9cc);
    border-color: #e77600;
    box-shadow: 0 0 .3rem .2rem rgba(228,121,17,.5);*/
}
.list_big{
    font-size: 20px;
   
    color:#2d78f4;
    font-weight: bold;
}
.list_small{
     font-size: 14px;
     color:#000;
    
}