body{
	margin:0;
	padding:0;
}
.page{
    width: 100%;
    margin:0 auto;
    min-height: 500px;
    height: auto !important;
}
.up{
	width:300px;
	height:70px;
	margin:20px auto;
}
.top{
	width:200px;
	height:auto;
	margin:0 auto;
	margin-bottom:10px;
}
.down{
	width:220px;
	height:auto;
	margin:0 auto ;
}
.title{
    width: 95px;
    height: 30px;
    text-align: center;
    font-size:24px;
    border-radius: 5px;
    line-height: 30px;
    border: 1px solid gray;
    float: left;
}
.site-number{
	float:left;
	width:30px;
	height:26px;
	margin-left:20px;
	text-align:center;
	font-size:15px;
	border-radius:5px;
}
.btn{
    width: 50px;
    background: blue;
    height: 30px;
    border-radius: 5px;
    margin-left: 20px;
    line-height: 30px;
    text-align:center;
    font-weight: 100;
    border: 1px solid gray;
    color: white;
    float: left;
}
.openseat{
    width: 50px;
    background: green;
    height: 30px;
    border-radius: 5px;
    margin-left: 20px;
    line-height: 30px;
    text-align:center;
    font-weight: 100;
    border: 1px solid gray;
    color: white;
    float: left;
}
.refresh{
    width: 50px;
    background: red;
    height: 30px;
    border-radius: 5px;
    margin-left: 20px;
    line-height: 30px;
    text-align:center;
    font-weight: 100;
    border: 1px solid gray;
    color: white;
    float: left;
}
.sitelist{
    width: 90%;
    min-height: 300px;
    height: auto !important;
    border: 1px solid gray;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 4%;
    text-align: center;
    line-height: 25px;
}
.sitecat{
  min-width: 50px;
  height: 30px;
  border: 1px solid blue;
  margin-left: 5px;
  margin-top: 3px;
  float: left;
}
.inner{
	width:100%;
	height:32px;
}
.sitename{
  width: 30%;
  height: 52px;
  font-size:15px;
  border: 1px solid gray;
  margin-left: 2px;
  margin-top: 3px;
  float: left;
}
.siteup{
    width: 90%;
    padding: 15px;
    min-height: 32px; 
    overflow:hidden;
    height:auto !important;
}
.sitedown{
    width: 90%;
    padding: 20px;
    height: 100%;
}
.active{
    background: rgb(153,214,255);
    color: rgb(255,255,255);
}
.hascode{
	background: rgb(255,0,0);
}
.clear{
    clear: both;
}


.page-content .page-breadcrumb.breadcrumb {
   margin-top: 0px;
   margin-bottom: 20px;
}
.portlet.box.purple {
    border: 1px solid #CFCFCF;

}
.portlet-body{
   min-height: 350px;
}

.panel_body{
    padding-left: 20px;
    margin-bottom: 10px;
}
.panel_body p{
     font-size: 23px;
    
     font-weight: bold;
     margin-bottom: 22px;
}

.list{
    margin-bottom: 20px;
    
}
.list a,
.list a:hover,
.list a:visited
{
    text-decoration: none;
    text-align: left;
    width:auto;
    display:block;
    padding:10px;
    

    border-style:solid;
    border-width: .1rem;
    border-radius:.4rem!important;
    background-color: #eee;
    
    border-color: #D3D3D3;
   /* border-color: #adb1b8 #a2a6ac #8d9096;*/
   
       /* background-image: linear-gradient(to bottom,#f7dfa5,#f0c14b);*/
   /* background-image: linear-gradient(to bottom,#f7f8fa,#e7e9ec);*/
}
.list a:active{
   /* background-image: linear-gradient(to bottom,#e7e9ec,#c7c9cc);
    border-color: #e77600;
    box-shadow: 0 0 .3rem .2rem rgba(228,121,17,.5);*/
}
.list_big{
    font-size: 20px;
   
    color:#2d78f4;
    font-weight: bold;
}
.list_small{
     font-size: 14px;
     color:#000;
    
}